# Replicate API Key https://replicate.com/
REPLICATE_API_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# OPENAI API KEY, https://openai.com/api/
OPENAI_API_KEY=

# Create a free PostgreSQL database with Supabase, instructions here: https://flaviocopes.com/postgresql-supabase-setup/
DATABASE_URL=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# You can also add more Auth methods like discord, github, etc.
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

NEXTAUTH_URL=http://localhost:3000